{
  "openapi": "3.1.0",
  "info": {
    "title": "TaskDesk API",
    "version": "1.0.0",
    "description": "TaskDesk Project Management API - Manage projects, tasks, labels, and more"
  },
  "servers": [
    {
      "url": "https://taskdesk.bimats.com/api",
      "description": "TaskDesk API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key or session token (Bearer)"
      },
      "scimBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Per-connection SCIM bearer token"
      }
    },
    "schemas": {
      "InstanceStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "Config": {
        "type": "object",
        "properties": {
          "disableRegistration": {
            "type": "boolean"
          },
          "disablePasswordRegistration": {
            "type": "boolean"
          },
          "disableEmailOtpSignIn": {
            "type": "boolean"
          },
          "disableWorkspaceCreation": {
            "type": "boolean"
          },
          "hasSmtp": {
            "type": "boolean"
          },
          "hasGithubSignIn": {
            "type": "boolean"
          },
          "hasGoogleSignIn": {
            "type": "boolean"
          },
          "hasDiscordSignIn": {
            "type": "boolean"
          },
          "hasCustomOAuth": {
            "type": "boolean"
          },
          "disableLoginForm": {
            "type": "boolean"
          },
          "customOAuthAutoLogin": {
            "type": "boolean"
          },
          "customOAuthLogoutUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "disableRegistration",
          "disablePasswordRegistration",
          "disableEmailOtpSignIn",
          "disableWorkspaceCreation",
          "hasSmtp",
          "hasGithubSignIn",
          "hasGoogleSignIn",
          "hasDiscordSignIn",
          "hasCustomOAuth",
          "disableLoginForm",
          "customOAuthAutoLogin",
          "customOAuthLogoutUrl"
        ]
      },
      "OAuthIdToken": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": [
              "string",
              "null"
            ],
            "description": "The stored id_token for the user's `custom` OAuth account, or null when they have no such account."
          }
        },
        "required": [
          "idToken"
        ]
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "manageProjects": {
            "type": "boolean"
          },
          "createProjects": {
            "type": "boolean"
          },
          "updateProjects": {
            "type": "boolean"
          },
          "deleteProjects": {
            "type": "boolean"
          },
          "updateTasks": {
            "type": "boolean"
          },
          "createTasks": {
            "type": "boolean"
          },
          "deleteTasks": {
            "type": "boolean"
          },
          "assignTasks": {
            "type": "boolean"
          },
          "createLabels": {
            "type": "boolean"
          },
          "updateLabels": {
            "type": "boolean"
          },
          "deleteLabels": {
            "type": "boolean"
          },
          "manageWorkspace": {
            "type": "boolean"
          },
          "deleteWorkspace": {
            "type": "boolean"
          },
          "inviteUsers": {
            "type": "boolean"
          },
          "manageTeam": {
            "type": "boolean"
          },
          "removeMembers": {
            "type": "boolean"
          },
          "manageServiceCalendars": {
            "type": "boolean"
          }
        },
        "required": [
          "manageProjects",
          "createProjects",
          "updateProjects",
          "deleteProjects",
          "updateTasks",
          "createTasks",
          "deleteTasks",
          "assignTasks",
          "createLabels",
          "updateLabels",
          "deleteLabels",
          "manageWorkspace",
          "deleteWorkspace",
          "inviteUsers",
          "manageTeam",
          "removeMembers",
          "manageServiceCalendars"
        ]
      },
      "ProjectListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Project"
          },
          {
            "type": "object",
            "properties": {
              "statistics": {
                "$ref": "#/components/schemas/ProjectStatistics"
              },
              "archivedTasks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardTask"
                },
                "description": "Always empty."
              },
              "plannedTasks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardTask"
                },
                "description": "Always empty."
              },
              "columns": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardColumn"
                },
                "description": "Always empty."
              }
            },
            "required": [
              "statistics",
              "archivedTasks",
              "plannedTasks",
              "columns"
            ]
          }
        ]
      },
      "ProjectStatistics": {
        "type": "object",
        "properties": {
          "completionPercentage": {
            "type": "number"
          },
          "totalTasks": {
            "type": "number"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "The soonest due date among the project's open tasks."
          }
        },
        "required": [
          "completionPercentage",
          "totalTasks",
          "dueDate"
        ]
      },
      "BoardTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "number": {
            "type": [
              "number",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "description": "One of: no-priority, low, medium, high, urgent."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "position": {
            "type": [
              "number",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeName": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeImage": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectId": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskLabel"
            }
          },
          "externalLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskExternalLink"
            }
          }
        },
        "required": [
          "id",
          "title",
          "number",
          "description",
          "status",
          "priority",
          "startDate",
          "dueDate",
          "position",
          "createdAt",
          "version",
          "userId",
          "assigneeName",
          "assigneeId",
          "assigneeImage",
          "projectId",
          "labels",
          "externalLinks"
        ]
      },
      "TaskLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "color"
        ]
      },
      "TaskExternalLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Provider-specific payload, already parsed from the stored JSON string."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "resourceType",
          "externalId",
          "url",
          "title",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "BoardColumn": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The column slug, same as `slug`."
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "isFinal": {
            "type": "boolean"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "icon",
          "isFinal",
          "tasks"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Short prefix used in task identifiers, e.g. KAN-12."
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "project",
              "managed_service"
            ]
          },
          "health": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "red",
              "amber",
              "green"
            ]
          },
          "supportLevel": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "L1",
              "L2",
              "L3"
            ]
          },
          "serviceCalendarId": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "archivedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Non-null once archived; archived projects are hidden by default."
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Non-null once soft-deleted; deleted projects are excluded everywhere in ordinary use, independent of archivedAt."
          },
          "purgeAfter": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Non-null once soft-deleted: the point after which the project becomes eligible for purge. No purge job exists yet (#198)."
          },
          "position": {
            "type": "number",
            "description": "Sidebar order, ascending."
          },
          "lastTaskNumber": {
            "type": "number",
            "description": "Highest task number issued in this project; the next task gets this plus one."
          }
        },
        "required": [
          "id",
          "workspaceId",
          "slug",
          "icon",
          "name",
          "description",
          "kind",
          "health",
          "supportLevel",
          "serviceCalendarId",
          "createdAt",
          "archivedAt",
          "deletedAt",
          "purgeAfter",
          "position",
          "lastTaskNumber"
        ]
      },
      "Milestone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "reachedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "date",
          "reachedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "Prerequisite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "ownerSide": {
            "type": "string"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "isBlocking": {
            "type": "boolean"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "title",
          "ownerSide",
          "dueDate",
          "isBlocking",
          "completedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "Stakeholder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "personId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "escalationOrder": {
            "type": "number"
          },
          "escalationWaitMinutes": {
            "type": "number"
          },
          "active": {
            "type": "boolean",
            "description": "False once stood down (PR-12) -- never deleted, kept for history."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "personId",
          "role",
          "escalationOrder",
          "escalationWaitMinutes",
          "active",
          "createdAt",
          "updatedAt"
        ]
      },
      "DocumentLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "customerVisible": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "url",
          "title",
          "customerVisible",
          "createdAt"
        ]
      },
      "BoardResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Board"
          },
          "pagination": {
            "$ref": "#/components/schemas/BoardPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "workspaceId": {
            "type": "string"
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardColumn"
            }
          },
          "archivedTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          },
          "plannedTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "icon",
          "description",
          "workspaceId",
          "columns",
          "archivedTasks",
          "plannedTasks"
        ]
      },
      "BoardPagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "total",
          "page",
          "pageSize",
          "totalPages"
        ],
        "description": "When no page/limit is given, everything is returned on a single page."
      },
      "BulkTaskResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "updatedCount": {
            "type": "number"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "taskId": {
                  "type": "string"
                },
                "success": {
                  "type": "boolean"
                },
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        },
        "required": [
          "success",
          "updatedCount",
          "results"
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "position": {
            "type": [
              "number",
              "null"
            ],
            "description": "Order within its column, ascending."
          },
          "number": {
            "type": [
              "number",
              "null"
            ],
            "description": "Per-project counter shown as {projectSlug}-{number}."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The assignee, if any."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "description": "The slug of the column the task sits in."
          },
          "priority": {
            "type": "string",
            "description": "One of: no-priority, low, medium, high, urgent."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 1
          }
        },
        "required": [
          "id",
          "projectId",
          "position",
          "number",
          "userId",
          "title",
          "description",
          "status",
          "priority",
          "startDate",
          "dueDate",
          "createdAt",
          "version"
        ]
      },
      "TaskWithAssignee": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Task"
          },
          {
            "type": "object",
            "properties": {
              "assigneeName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "assigneeId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "assigneeName",
              "assigneeId"
            ]
          }
        ]
      },
      "MoveTaskResult": {
        "type": "object",
        "properties": {
          "task": {
            "$ref": "#/components/schemas/Task"
          },
          "sourceProjectId": {
            "type": "string"
          },
          "destinationProjectId": {
            "type": "string"
          }
        },
        "required": [
          "task",
          "sourceProjectId",
          "destinationProjectId"
        ]
      },
      "TaskVersionConflict": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "assertedVersion": {
            "type": "integer"
          },
          "currentVersion": {
            "type": "integer"
          }
        },
        "required": [
          "message",
          "assertedVersion",
          "currentVersion"
        ]
      },
      "TaskExport": {
        "type": "object",
        "properties": {
          "project": {
            "$ref": "#/components/schemas/TaskExportProject"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportedTask"
            }
          }
        },
        "required": [
          "project",
          "tasks"
        ]
      },
      "TaskExportProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "exportedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name",
          "slug",
          "description",
          "exportedAt"
        ]
      },
      "ExportedTask": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportedTaskLabel"
            },
            "description": "Label names and colors, without their ids."
          }
        },
        "required": [
          "version",
          "title",
          "description",
          "status",
          "priority",
          "dueDate",
          "startDate",
          "userId",
          "labels"
        ]
      },
      "ExportedTaskLabel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "color"
        ]
      },
      "TaskImportResult": {
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/TaskImportSummary"
          }
        },
        "required": [
          "results"
        ]
      },
      "TaskImportSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "successful": {
            "type": "number"
          },
          "failed": {
            "type": "number"
          },
          "tasks": {
            "type": "array",
            "items": {},
            "description": "Per-task outcome, each carrying a success flag."
          }
        },
        "required": [
          "total",
          "successful",
          "failed",
          "tasks"
        ]
      },
      "TaskImageUpload": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Object key to send back to the finalize route."
          },
          "uploadUrl": {
            "type": "string",
            "description": "Presigned URL to PUT the image bytes to."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers that must accompany the upload request, including Content-Type."
          }
        },
        "required": [
          "key",
          "uploadUrl",
          "headers"
        ]
      },
      "TaskImageAsset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Where the stored image can be read back from."
          }
        },
        "required": [
          "id",
          "url"
        ]
      },
      "Column": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Stable identifier derived from the name; tasks store this as their status."
          },
          "position": {
            "type": "number",
            "description": "Board order, ascending. Columns are always returned sorted by it."
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "isFinal": {
            "type": "boolean",
            "description": "Marks the column as a done state, which stops overdue reminders for tasks in it."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "slug",
          "position",
          "icon",
          "color",
          "isFinal",
          "createdAt",
          "updatedAt"
        ]
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "One of: comment, task, create, status_changed, priority_changed, assignee_changed, unassigned, due_date_changed, title_changed, description_changed."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": [
              "string",
              "null"
            ]
          },
          "eventData": {
            "description": "Type-specific payload, e.g. { oldStatus, newStatus } for status_changed. Null for plain comments."
          },
          "externalUserName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Set when the activity was imported from another tool."
          },
          "externalUserAvatar": {
            "type": [
              "string",
              "null"
            ]
          },
          "externalSource": {
            "type": [
              "string",
              "null"
            ],
            "description": "The tool it was imported from, e.g. planka, trello, jira."
          },
          "externalUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "taskId",
          "type",
          "createdAt",
          "updatedAt",
          "userId",
          "content",
          "externalUserName",
          "externalUserAvatar",
          "externalSource",
          "externalUrl"
        ]
      },
      "CannedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "body": {},
          "visibilityDefault": {
            "type": "string",
            "description": "One of: public, internal."
          },
          "createdBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspaceId",
          "name",
          "visibilityDefault",
          "createdBy",
          "createdAt",
          "updatedAt"
        ]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/CommentAuthor"
          }
        },
        "required": [
          "id",
          "taskId",
          "userId",
          "content",
          "createdAt",
          "updatedAt",
          "user"
        ]
      },
      "CommentAuthor": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "image"
        ]
      },
      "TimeEntryWithUser": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeEntry"
          },
          {
            "type": "object",
            "properties": {
              "userName": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "userName"
            ]
          }
        ]
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Null once the user who logged the time has been removed."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Null while the timer is still running."
          },
          "duration": {
            "type": [
              "number",
              "null"
            ],
            "description": "Elapsed seconds, filled in once the entry has an endTime."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "userId",
          "description",
          "startTime",
          "endTime",
          "duration",
          "createdAt",
          "updatedAt"
        ]
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "taskId": {
            "type": [
              "string",
              "null"
            ]
          },
          "workspaceId": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "color",
          "createdAt",
          "updatedAt",
          "taskId",
          "workspaceId"
        ]
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-text body. Null for generated notifications, whose text the client renders from type and eventData."
          },
          "type": {
            "type": "string",
            "description": "One of: info, task_created, workspace_created, task_status_changed, task_assignee_changed, time_entry_created, due_date_reminder, task_overdue, task_mention, task_comment."
          },
          "eventData": {
            "description": "Type-specific payload, e.g. { taskTitle, oldStatus, newStatus, projectId, workspaceId }."
          },
          "isRead": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "resourceId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The id of the task or workspace the notification points at."
          },
          "resourceType": {
            "type": [
              "string",
              "null"
            ],
            "description": "`task` or `workspace`."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "userId",
          "title",
          "content",
          "type",
          "isRead",
          "resourceId",
          "resourceType",
          "createdAt",
          "updatedAt"
        ]
      },
      "NotificationBulkResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "required": [
          "success"
        ]
      },
      "NotificationPreferences": {
        "type": "object",
        "properties": {
          "emailAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "emailEnabled": {
            "type": "boolean"
          },
          "ntfyEnabled": {
            "type": "boolean"
          },
          "ntfyConfigured": {
            "type": "boolean"
          },
          "ntfyServerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "ntfyTopic": {
            "type": [
              "string",
              "null"
            ]
          },
          "ntfyTokenConfigured": {
            "type": "boolean"
          },
          "maskedNtfyToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "gotifyEnabled": {
            "type": "boolean"
          },
          "gotifyConfigured": {
            "type": "boolean"
          },
          "gotifyServerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "gotifyTokenConfigured": {
            "type": "boolean"
          },
          "maskedGotifyToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookEnabled": {
            "type": "boolean"
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "webhookUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookSecretConfigured": {
            "type": "boolean"
          },
          "maskedWebhookSecret": {
            "type": [
              "string",
              "null"
            ]
          },
          "taskAssignmentEnabled": {
            "type": "boolean"
          },
          "taskCommentEnabled": {
            "type": "boolean"
          },
          "taskStatusChangeEnabled": {
            "type": "boolean"
          },
          "dueDateReminderEnabled": {
            "type": "boolean"
          },
          "dueDateReminderLeadTimeMinutes": {
            "type": "number",
            "description": "How long before a due date the reminder fires, in minutes."
          },
          "workspaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationPreferenceWorkspaceRule"
            },
            "description": "Per-workspace overrides. A workspace with no rule follows the global settings."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "emailAddress",
          "emailEnabled",
          "ntfyEnabled",
          "ntfyConfigured",
          "ntfyServerUrl",
          "ntfyTopic",
          "ntfyTokenConfigured",
          "maskedNtfyToken",
          "gotifyEnabled",
          "gotifyConfigured",
          "gotifyServerUrl",
          "gotifyTokenConfigured",
          "maskedGotifyToken",
          "webhookEnabled",
          "webhookConfigured",
          "webhookUrl",
          "webhookSecretConfigured",
          "maskedWebhookSecret",
          "taskAssignmentEnabled",
          "taskCommentEnabled",
          "taskStatusChangeEnabled",
          "dueDateReminderEnabled",
          "dueDateReminderLeadTimeMinutes",
          "workspaces",
          "createdAt",
          "updatedAt"
        ]
      },
      "NotificationPreferenceWorkspaceRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean",
            "description": "Turn all notifications for this workspace on or off."
          },
          "emailEnabled": {
            "type": "boolean"
          },
          "ntfyEnabled": {
            "type": "boolean"
          },
          "gotifyEnabled": {
            "type": "boolean"
          },
          "webhookEnabled": {
            "type": "boolean"
          },
          "projectMode": {
            "type": "string",
            "enum": [
              "all",
              "selected"
            ],
            "description": "`all` notifies for every project in the workspace; `selected` restricts it to selectedProjectIds."
          },
          "selectedProjectIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspaceId",
          "workspaceName",
          "isActive",
          "emailEnabled",
          "ntfyEnabled",
          "gotifyEnabled",
          "webhookEnabled",
          "projectMode",
          "selectedProjectIds",
          "createdAt",
          "updatedAt"
        ]
      },
      "PendingActionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PendingActionRead"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PendingActionPage"
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "total"
            ]
          }
        },
        "required": [
          "data",
          "page",
          "meta"
        ]
      },
      "PendingActionRead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "delete",
              "bulk_delete",
              "purge",
              "mcp_destructive",
              "user_deactivation"
            ]
          },
          "origin": {
            "type": "string",
            "enum": [
              "web",
              "api",
              "mcp"
            ]
          },
          "targetType": {
            "type": "string"
          },
          "targetIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "type": "object",
            "additionalProperties": {}
          },
          "confirmation": {
            "type": "string",
            "enum": [
              "click",
              "typed_name",
              "typed_count",
              "typed_name_step_up",
              "typed_count_step_up"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "denied",
              "cancelled",
              "expired",
              "invalidated",
              "executed",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "invalidationReason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "credential_revoked",
              "requester_deactivated",
              "reach_lost",
              "capability_removed",
              "version_changed",
              "scope_changed",
              null
            ]
          },
          "decidedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "executedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "requestingKeyName": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "action",
          "origin",
          "targetType",
          "targetIds",
          "summary",
          "confirmation",
          "state",
          "createdAt",
          "expiresAt",
          "invalidationReason",
          "decidedAt",
          "executedAt",
          "requestingKeyName"
        ]
      },
      "PendingActionPage": {
        "type": "object",
        "properties": {
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "nextCursor",
          "hasMore"
        ]
      },
      "PendingActionApproval": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "executed",
              "expired"
            ]
          }
        },
        "required": [
          "id",
          "state"
        ]
      },
      "PendingActionDecision": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "delete",
              "bulk_delete",
              "purge",
              "mcp_destructive",
              "user_deactivation"
            ]
          },
          "origin": {
            "type": "string",
            "enum": [
              "web",
              "api",
              "mcp"
            ]
          },
          "targetType": {
            "type": "string"
          },
          "targetIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "type": "object",
            "additionalProperties": {}
          },
          "confirmation": {
            "type": "string",
            "enum": [
              "click",
              "typed_name",
              "typed_count",
              "typed_name_step_up",
              "typed_count_step_up"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "denied",
              "cancelled",
              "expired"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "action",
          "origin",
          "targetType",
          "targetIds",
          "summary",
          "confirmation",
          "state",
          "createdAt",
          "expiresAt"
        ]
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "totalCount": {
            "type": "number",
            "description": "Total matches found before the `limit` slice, so a caller can tell that more exist."
          },
          "searchQuery": {
            "type": "string",
            "description": "The query that was run."
          }
        },
        "required": [
          "results",
          "totalCount",
          "searchQuery"
        ]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "task",
              "project",
              "workspace",
              "comment",
              "activity"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "description": "Matched body text, for comment and activity results. Activities get a rendered summary such as `changed status from Todo to In Progress`."
          },
          "projectId": {
            "type": "string"
          },
          "projectName": {
            "type": "string"
          },
          "projectSlug": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "relevanceScore": {
            "type": "number",
            "description": "Higher is a better match. Results are sorted by score, then by createdAt descending."
          },
          "taskNumber": {
            "type": "number"
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "The current row version, present only for task results."
          },
          "priority": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "title",
          "createdAt",
          "relevanceScore"
        ]
      },
      "ServiceCalendarVersionConflict": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "assertedVersion": {
            "type": "integer"
          },
          "currentVersion": {
            "type": "integer"
          }
        },
        "required": [
          "message",
          "assertedVersion",
          "currentVersion"
        ]
      },
      "TaskRelationWithTasks": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TaskRelation"
          },
          {
            "type": "object",
            "properties": {
              "sourceTask": {
                "$ref": "#/components/schemas/RelatedTask"
              },
              "targetTask": {
                "$ref": "#/components/schemas/RelatedTask"
              }
            },
            "required": [
              "sourceTask",
              "targetTask"
            ]
          }
        ]
      },
      "RelatedTask": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": [
              "string",
              "null"
            ]
          },
          "number": {
            "type": [
              "number",
              "null"
            ]
          },
          "projectId": {
            "type": "string"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeName": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "version",
          "title",
          "status",
          "priority",
          "number",
          "projectId",
          "userId",
          "assigneeName"
        ]
      },
      "TaskRelation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sourceTaskId": {
            "type": "string"
          },
          "targetTaskId": {
            "type": "string"
          },
          "relationType": {
            "type": "string",
            "description": "How the two tasks relate: `subtask`, `blocks`, or `related`."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "sourceTaskId",
          "targetTaskId",
          "relationType",
          "createdAt"
        ]
      },
      "ExternalLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "resourceType": {
            "type": "string",
            "description": "The kind of remote resource, e.g. `issue` or `pull_request`."
          },
          "externalId": {
            "type": "string",
            "description": "The provider's own identifier for the linked resource."
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "description": "Provider-specific payload, parsed from the stored JSON string. Null when the link has no metadata."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "resourceType",
          "externalId",
          "url",
          "title",
          "createdAt",
          "updatedAt"
        ]
      },
      "WorkflowRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "integrationType": {
            "type": "string",
            "description": "The integration that emits the event, e.g. `github`."
          },
          "eventType": {
            "type": "string",
            "description": "The provider event that triggers the move, e.g. `pull_request.opened`."
          },
          "columnId": {
            "type": "string",
            "description": "The column tasks are moved to when the event fires."
          },
          "columnName": {
            "type": [
              "string",
              "null"
            ]
          },
          "columnSlug": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "integrationType",
          "eventType",
          "columnId",
          "columnName",
          "columnSlug",
          "createdAt",
          "updatedAt"
        ]
      },
      "WorkflowRuleRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "integrationType": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "columnId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "integrationType",
          "eventType",
          "columnId",
          "createdAt",
          "updatedAt"
        ]
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "activeVersionId": {
            "type": [
              "string",
              "null"
            ]
          },
          "version": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspaceId",
          "key",
          "name",
          "activeVersionId",
          "version",
          "createdAt",
          "updatedAt"
        ]
      },
      "WorkflowVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workflowId": {
            "type": "string"
          },
          "number": {
            "type": "number"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time"
          },
          "publishedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "transitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowTransition"
            }
          }
        },
        "required": [
          "id",
          "workflowId",
          "number",
          "publishedAt",
          "publishedBy",
          "createdAt",
          "updatedAt",
          "transitions"
        ]
      },
      "WorkflowTransition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "versionId": {
            "type": "string"
          },
          "fromStateTemplateId": {
            "type": [
              "string",
              "null"
            ]
          },
          "toStateTemplateId": {
            "type": "string"
          },
          "roleId": {
            "type": [
              "string",
              "null"
            ]
          },
          "notePolicy": {
            "type": "string",
            "enum": [
              "none",
              "optional",
              "required"
            ]
          },
          "noteVisibility": {
            "type": "string",
            "enum": [
              "public",
              "internal"
            ]
          },
          "requiresApproval": {
            "type": "boolean"
          },
          "approvalPolicy": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "any",
              "all",
              null
            ]
          },
          "requiresCab": {
            "type": "boolean"
          },
          "isReopen": {
            "type": "boolean"
          },
          "guards": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "children_closed"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "no_open_blockers"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "assignee_present"
                      ]
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "field_required"
                      ]
                    },
                    "field": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "field"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "change_risk_at_most"
                      ]
                    },
                    "level": {
                      "type": "string",
                      "enum": [
                        "low",
                        "medium",
                        "high"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "level"
                  ]
                }
              ]
            }
          },
          "effects": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "set_assignee"
                      ]
                    },
                    "personId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "default"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "kind",
                    "personId"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "clear_assignee"
                      ]
                    }
                  },
                  "required": [
                    "kind"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "pause_sla"
                      ]
                    }
                  },
                  "required": [
                    "kind"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "resume_sla"
                      ]
                    }
                  },
                  "required": [
                    "kind"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "set_field"
                      ]
                    },
                    "field": {
                      "type": "string"
                    },
                    "value": {}
                  },
                  "required": [
                    "kind",
                    "field"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "schedule_transition"
                      ]
                    },
                    "afterMinutes": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "toStateTemplateId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "kind",
                    "afterMinutes",
                    "toStateTemplateId"
                  ]
                }
              ]
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "versionId",
          "fromStateTemplateId",
          "toStateTemplateId",
          "roleId",
          "notePolicy",
          "noteVisibility",
          "requiresApproval",
          "approvalPolicy",
          "requiresCab",
          "isReopen",
          "guards",
          "effects",
          "createdAt",
          "updatedAt"
        ]
      },
      "WorkflowVersionValidation": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "unreachableStateTemplateIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "noOutboundStateTemplateIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rolesWithNoLegalTransition": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowVersionProjectValidation"
            }
          }
        },
        "required": [
          "valid",
          "unreachableStateTemplateIds",
          "noOutboundStateTemplateIds",
          "rolesWithNoLegalTransition",
          "projects"
        ]
      },
      "WorkflowVersionProjectValidation": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "refusedStateTemplateIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "stuckWorkItemKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "projectId",
          "valid",
          "errors",
          "refusedStateTemplateIds",
          "stuckWorkItemKeys"
        ]
      },
      "PendingInvitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "inviterName": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "description": "Always `pending` here; expired and accepted ones are filtered out."
          }
        },
        "required": [
          "id",
          "email",
          "workspaceId",
          "workspaceName",
          "inviterName",
          "expiresAt",
          "createdAt",
          "status"
        ]
      },
      "InvitationDetails": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "True only when the invitation can still be accepted."
          },
          "invitation": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "workspaceName": {
                "type": "string"
              },
              "inviterName": {
                "type": "string"
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string"
              },
              "expired": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "email",
              "workspaceName",
              "inviterName",
              "expiresAt",
              "status",
              "expired"
            ],
            "description": "Omitted when the invitation does not exist, was already accepted, or was canceled -- the details are withheld rather than leaked."
          },
          "error": {
            "type": "string",
            "description": "Why the invitation is unusable, when valid is false."
          }
        },
        "required": [
          "valid"
        ]
      },
      "AcceptedInvitation": {
        "type": "object",
        "properties": {
          "invitation": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "workspaceId": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "role": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "status": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "workspaceId",
              "email",
              "role",
              "status"
            ],
            "description": "Always `status: \"accepted\"` in a 200 response."
          },
          "member": {
            "type": "object",
            "properties": {
              "workspaceId": {
                "type": "string"
              },
              "userId": {
                "type": "string"
              },
              "role": {
                "type": "string"
              }
            },
            "required": [
              "workspaceId",
              "userId",
              "role"
            ],
            "description": "The membership row this accept created."
          }
        },
        "required": [
          "invitation",
          "member"
        ]
      },
      "RejectedInvitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Always `\"canceled\"` -- this app's status vocabulary has no separate `rejected` value (apps/api/src/invitation/controllers/reject-invitation.ts)."
          }
        },
        "required": [
          "id",
          "status"
        ]
      },
      "CanceledInvitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Always `\"canceled\"`."
          }
        },
        "required": [
          "id",
          "status"
        ]
      },
      "WorkspaceSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "logo": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "role": {
            "type": "string",
            "description": "The calling user's own role in this workspace."
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "logo",
          "description",
          "createdAt",
          "role"
        ]
      },
      "WorkspaceDetail": {
        "type": "object",
        "properties": {
          "workspace": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "logo": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "id",
              "name",
              "slug",
              "logo",
              "description",
              "createdAt"
            ]
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceMember"
            }
          },
          "pendingInvitations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceInvitation"
            },
            "description": "This workspace's invitations that are still pending -- expired or not (issue #160)."
          }
        },
        "required": [
          "workspace",
          "members",
          "pendingInvitations"
        ]
      },
      "WorkspaceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "type": "string",
            "description": "The member's workspace role: a built-in role (owner, admin, member, guest) or a custom role name."
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "image",
          "role"
        ]
      },
      "WorkspaceInvitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "inviterId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "email",
          "role",
          "status",
          "expiresAt",
          "createdAt",
          "inviterId"
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "logo": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "logo",
          "description",
          "createdAt"
        ]
      },
      "DeletedWorkspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "ActivatedWorkspace": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string"
          }
        },
        "required": [
          "workspaceId"
        ]
      },
      "RemovedWorkspaceMember": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          }
        },
        "required": [
          "userId"
        ]
      },
      "WorkspaceMemberRole": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "role"
        ]
      },
      "LeftWorkspace": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string"
          }
        },
        "required": [
          "workspaceId"
        ]
      },
      "TransferredWorkspaceOwnership": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string"
          },
          "previousOwnerUserId": {
            "type": "string"
          },
          "previousOwnerNewRole": {
            "type": "string"
          },
          "newOwnerUserId": {
            "type": "string"
          }
        },
        "required": [
          "workspaceId",
          "previousOwnerUserId",
          "previousOwnerNewRole",
          "newOwnerUserId"
        ]
      },
      "WorkspaceRole": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "description": "The role's name. Never 'owner' -- owner authority stays a compiled, non-editable role."
          },
          "permission": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspaceId",
          "role",
          "permission",
          "createdAt",
          "updatedAt"
        ]
      },
      "DeletedWorkspaceRole": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "role"
        ]
      },
      "WorkItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "typeId": {
            "type": "string"
          },
          "number": {
            "type": "number",
            "description": "Per-project sequence number. The key is `{project.slug}-{number}`."
          },
          "key": {
            "type": "string",
            "description": "e.g. PROJ-123. Permanent."
          },
          "title": {
            "type": "string"
          },
          "description": {},
          "stateId": {
            "type": "string"
          },
          "priority": {
            "type": [
              "string",
              "null"
            ],
            "description": "One of: low, medium, high, urgent."
          },
          "assigneeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "requesterId": {
            "type": [
              "string",
              "null"
            ]
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "position": {
            "type": "string",
            "description": "numeric(20,10) fractional rank, as a string."
          },
          "customerVisibility": {
            "type": "string",
            "description": "One of: private, organisation."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "archivedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "version": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "workspaceId",
          "typeId",
          "number",
          "key",
          "title",
          "stateId",
          "priority",
          "assigneeId",
          "requesterId",
          "parentId",
          "position",
          "customerVisibility",
          "startDate",
          "dueDate",
          "archivedAt",
          "deletedAt",
          "version",
          "createdAt",
          "updatedAt"
        ]
      },
      "WorkItemListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkItemListItem"
            }
          },
          "page": {
            "$ref": "#/components/schemas/WorkItemPage"
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              }
            },
            "required": [
              "total"
            ]
          }
        },
        "required": [
          "data",
          "page",
          "meta"
        ]
      },
      "WorkItemListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkItem"
          },
          {
            "type": "object",
            "properties": {
              "stateName": {
                "type": "string"
              },
              "stateCategory": {
                "type": "string",
                "description": "state_template.group: one of backlog, unstarted, started, completed, cancelled."
              },
              "assigneeName": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "stateName",
              "stateCategory",
              "assigneeName"
            ]
          }
        ]
      },
      "WorkItemPage": {
        "type": "object",
        "properties": {
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "nextCursor",
          "hasMore"
        ]
      },
      "WorkItemDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "typeId": {
            "type": "string"
          },
          "number": {
            "type": "number",
            "description": "Per-project sequence number. The key is `{project.slug}-{number}`."
          },
          "key": {
            "type": "string",
            "description": "e.g. PROJ-123. Permanent."
          },
          "title": {
            "type": "string"
          },
          "description": {},
          "stateId": {
            "type": "string"
          },
          "priority": {
            "type": [
              "string",
              "null"
            ],
            "description": "One of: low, medium, high, urgent."
          },
          "assigneeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "requesterId": {
            "type": [
              "string",
              "null"
            ]
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "position": {
            "type": "string",
            "description": "numeric(20,10) fractional rank, as a string."
          },
          "customerVisibility": {
            "type": "string",
            "description": "One of: private, organisation."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "archivedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "version": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "stateName": {
            "type": "string"
          },
          "stateCategory": {
            "type": "string",
            "description": "state_template.group: one of backlog, unstarted, started, completed, cancelled."
          },
          "assigneeName": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "projectId",
          "workspaceId",
          "typeId",
          "number",
          "key",
          "title",
          "stateId",
          "priority",
          "assigneeId",
          "requesterId",
          "parentId",
          "position",
          "customerVisibility",
          "startDate",
          "dueDate",
          "archivedAt",
          "deletedAt",
          "version",
          "createdAt",
          "updatedAt",
          "stateName",
          "stateCategory",
          "assigneeName"
        ]
      },
      "WorkItemType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "category": {
            "type": "string",
            "description": "One of: service, delivery (work-items.md § Default types)."
          },
          "isEpic": {
            "type": "boolean"
          },
          "isChange": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "key",
          "name",
          "icon",
          "category",
          "isEpic",
          "isChange"
        ]
      },
      "WorkItemVersionConflict": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "assertedVersion": {
            "type": "number",
            "description": "The version sent in If-Match."
          },
          "currentVersion": {
            "type": "number",
            "description": "The work item's actual current version."
          }
        },
        "required": [
          "message",
          "assertedVersion",
          "currentVersion"
        ]
      },
      "AssignablePerson": {
        "type": "object",
        "properties": {
          "personId": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "roleName": {
            "type": "string"
          },
          "openWorkCount": {
            "type": "number"
          }
        },
        "required": [
          "personId",
          "name",
          "roleName",
          "openWorkCount"
        ]
      },
      "WorkItemAssignment": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "assigneeId": {
            "type": "string"
          },
          "previousAssigneeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "version": {
            "type": "number"
          }
        },
        "required": [
          "key",
          "assigneeId",
          "previousAssigneeId",
          "version"
        ]
      },
      "WorkItemAssigneeConflict": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "currentAssigneeId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Who actually holds the item now; null when it is unassigned."
          }
        },
        "required": [
          "message",
          "key",
          "currentAssigneeId"
        ]
      },
      "WorkItemTree": {
        "type": "object",
        "properties": {
          "root": {
            "$ref": "#/components/schemas/WorkItemTreeNode"
          },
          "truncated": {
            "type": "boolean",
            "description": "True when the tree exceeded the server's size cap and this is a prefix, not the whole subtree. Real pagination is tracked separately (issue #434)."
          }
        },
        "required": [
          "root",
          "truncated"
        ]
      },
      "WorkItemTreeNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "stateName": {
            "type": "string"
          },
          "stateCategory": {
            "type": "string",
            "description": "state_template.group: one of backlog, unstarted, started, completed, cancelled."
          },
          "isCurrent": {
            "type": "boolean",
            "description": "True for the one node matching the requested {key}."
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkItemTreeNode"
            }
          }
        },
        "required": [
          "id",
          "key",
          "title",
          "stateName",
          "stateCategory",
          "isCurrent",
          "children"
        ]
      },
      "DeletedWorkItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "key",
          "workspaceId",
          "projectId",
          "deletedAt"
        ]
      },
      "RankedWorkItem": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "position": {
            "type": "string",
            "description": "numeric(20,10) fractional rank, as a string."
          },
          "version": {
            "type": "number"
          }
        },
        "required": [
          "key",
          "position",
          "version"
        ]
      },
      "WorkItemWatchState": {
        "type": "object",
        "properties": {
          "workItemId": {
            "type": "string"
          },
          "watching": {
            "type": "boolean"
          }
        },
        "required": [
          "workItemId",
          "watching"
        ]
      },
      "BulkWorkItemsResult": {
        "type": "object",
        "properties": {
          "succeeded": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "failed": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "reason"
              ]
            }
          }
        },
        "required": [
          "succeeded",
          "failed"
        ]
      },
      "WorkItemActivityListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkItemActivityRow"
            }
          },
          "page": {
            "$ref": "#/components/schemas/WorkItemPage"
          }
        },
[...]
